header {
    background-color: var(--yellow);
}

/* -------main-------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin: 30px;
}

.work {
    width: 250px;
    height: 200px;
}